& .the-login {
    border: 3px solid #ddd;
    max-width:500px;
    margin:40px auto;
    background:rgba(255,255,255,0.2);
    padding:48px 48px;
    border-radius:2px;
    box-shadow:0px 0px 10px rgba(255,255,255,0.05);
}

& .logo {
  display: block;
  padding-bottom: 30px;
}
