& {
  padding: 1rem 0;
  opacity: 0.9;
  background-color: var(--theme-color)!important;
  background: url(/images/header.png) no-repeat center;
}

&.default {
  background-color: #D82115!important;
}

&.blue {
  background-color: blue!important;
}

.site-logo,
.search-form {
  display: inline-block;
  vertical-align: middle;
}

.site-logo > img {
  display: block;
}

.search-form {
  margin: 0 10px;
}
